@model mxtrAutomation.Websites.Platform.Models.RegionPerformance.ViewModels.RegionPerformanceViewModel

@{ Layout = "~/Views/Shared/MainLayout.cshtml"; }

@section MainContent {

    <div class="row top_tiles gent-bar">
        @*  <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-building-o"></i>
                    </div>
                    <h3>Total Clients</h3>
                    <div class="count">2500</div>
                    <p><span><i class="fa fa-arrow-up"></i></span> 4% from last week</p>
                </div>
            </div>*@
        <div id="campaigns" class="animated flipInY col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats link-score-box" data-report="campaigns">
                <span>
                    Top Market
                </span>
                @*<div id="CampaignsCount" class="count">@Model.TotalCampaigns</div>*@
                <div class="count">Atlanta</div>
                @*<p>
                        <span>
                            <i id="CampaignsDeltaCSS" class="@Model.TotalCampaignsDeltaArrowCss"></i>
                        </span>
                        <span id="CampaignsDelta">@Math.Abs(Model.TotalCampaignsDelta).ToString("P0")</span>
                        during date range
                    </p>*@
            </div>
        </div>
        <div id="leads" class="animated flipInY col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats link-score-box" data-report="leads">
                <span>Leads from Forms</span>
                <div class="count">512</div>
                @*<div id="LeadsCount" class="count">@Model.TotalLeads</div>*@
                @*<p>
                        <span>
                            <i id="LeadsDeltaCSS" class="@Model.TotalLeadsDeltaArrowCss"></i>
                        </span>
                        <span id="LeadsDelta">@Math.Abs(Model.TotalLeadsDelta).ToString("P0")</span>
                        during date range
                    </p>*@
            </div>
        </div>
        <div id="opportunity-value" class="animated flipInY col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats link-score-box" data-report="opportunities">
                <span>Total LP Pageviews</span>
                <div class="count">12,456</div>
                @*<div id="OpenOpportunityValue" class="count">@Model.OpenOpportunityValue.ToString("C0")</div>*@
                @*<p>
                        <span>
                            <i id="OpenOpportunityValueDeltaCSS" class="@Model.OpenOpportunityValueDeltaArrowCss"></i>
                        </span>
                        <span id="OpenOpportunityValueDelta">@Math.Abs(Model.OpenOpportunityValueDelta).ToString("P0")</span>
                        during date range
                    </p>*@
            </div>
        </div>
        <div class="animated flipInY col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats link-score-box" data-report="opportunities">
                <span>Total Locator Pageviews</span>
                <div class="count">23,784</div>
            </div>
        </div>
    </div>

    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>
                    Stats By Regions
                </h3>
            </div>
            <div class="col-md-6 text-right">
                <span class="view-buttons">
                    <a href="#">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        View
                    </a>
                    <a href="#">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        Unique Visitors
                    </a>
                </span>
                <div id="reportrange" class="pull-right"
                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
            <div style="width: 100%;">
                <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
                <h2>Top 4 Markets</h2>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-6">
                <div>
                    <p>Atlanta</p>
                    <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                            <div class="progress-bar bg-green" role="progressbar"
                                 data-transitiongoal="80"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Philly</p>
                    <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                            <div class="progress-bar bg-green" role="progressbar"
                                 data-transitiongoal="60"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6">
                <div>
                    <p>Miami</p>
                    <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                            <div class="progress-bar bg-green" role="progressbar"
                                 data-transitiongoal="40"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>NYC</p>
                    <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                            <div class="progress-bar bg-green" role="progressbar"
                                 data-transitiongoal="50"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Regions</th>
                        <th class="column-title">Caesarstoneretailers.com</th>
                        <th class="column-title">Locator Pageviews</th>
                        <th class="column-title">Retailer LP Pageviews</th>
                        <th class="column-title">Click - Directions</th>
                        <th class="column-title">Click - Hours</th>
                        <th class="column-title">Click - More Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="even pointer">
                        <td>
                            <b>Mid-Atlantic</b>
                        </td>
                        <td></td>
                        <td>7689</td>
                        <td>675</td>
                        <td>754</td>
                        <td>54, 789</td>
                        <td>14, 523</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Midwest</b>
                        </td>
                        <td></td>
                        <td>54, 789</td>
                        <td>7689</td>
                        <td>14, 523</td>
                        <td>754</td>
                        <td>7689</td>
                    </tr>
                    <tr class="even pointer">
                        <td>
                            <b>Florida</b>
                        </td>
                        <td></td>
                        <td>54, 789</td>
                        <td>675</td>
                        <td>14, 523</td>
                        <td>754</td>
                        <td>7689</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Mountain</b>
                        </td>
                        <td></td>
                        <td>7689</td>
                        <td>675</td>
                        <td>754</td>
                        <td>54, 789</td>
                        <td>14, 523</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>New England</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>4</td>
                        <td>4</td>
                        <td>11</td>
                        <td>11</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>New York</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>4</td>
                        <td>4</td>
                        <td>11</td>
                        <td>11</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Northern CA</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>4</td>
                        <td>11</td>
                        <td>4</td>
                        <td>11</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Northernwest</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>4</td>
                        <td>11</td>
                        <td>4</td>
                        <td>11</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Ohio Valley</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>4</td>
                        <td>11</td>
                        <td>11</td>
                        <td>9</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Southern CA</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>11</td>
                        <td>4</td>
                        <td>11</td>
                        <td>9</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Southeast</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>4</td>
                        <td>11</td>
                        <td>9</td>
                        <td>9</td>
                    </tr>
                    <tr class="odd pointer">
                        <td>
                            <b>Texas</b>
                        </td>
                        <td>127</td>
                        <td>12</td>
                        <td>12</td>
                        <td>4</td>
                        <td>11</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var data1 = [
                [gd(2012, 1, 1), 17],
                [gd(2012, 1, 2), 74],
                [gd(2012, 1, 3), 6],
                [gd(2012, 1, 4), 39],
                [gd(2012, 1, 5), 20],
                [gd(2012, 1, 6), 85],
                [gd(2012, 1, 7), 7]
            ];

            var data2 = [
                [gd(2012, 1, 1), 82],
                [gd(2012, 1, 2), 23],
                [gd(2012, 1, 3), 66],
                [gd(2012, 1, 4), 9],
                [gd(2012, 1, 5), 119],
                [gd(2012, 1, 6), 6],
                [gd(2012, 1, 7), 9]
            ];
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "day"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)",
                },
                tooltip: false
            });

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }
        });
    </script>

}
